# IntelliJ / Eclipse
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Maven / build
target/
*.log
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

application-local.properties
application-local.yml
application-local.yaml
*.env
.DS_Store
